//---- colors ----
$c-black: #000;
$c-white: #fff;
$c-theme: #991B1F;
$c-theme-dark: $c-black; //0065a8
$c-theme-dark2: #0065a8;
$c-grayD: #dddd;
$c-error: #ee202b;
$c-red: red;

//---- fonts ----
$oswald: 'Oswald', sans-serif;
$pirata-one: 'Pirata One', cursive;
$noto-sans-mono: 'Noto Sans Mono', monospace;
$montserrat: 'Montserrat', sans-serif;

$main-font: $pirata-one;

$normal: 500;
$light: 300;
$semibold: 600;
$bold: 700;
$extrabold: 900;

//----------